body{
    font-family: sans-serif;
    margin: 0; 
}


    h1{
        text-align: center;
        color: rgb(22, 133, 132);
    }

.portal{
    background-color: rgb(251, 230, 180);
    border-top-style: none;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;

}

.main-intro{
    img{
        max-width: 30%;
    }
display: inline-flex; 
    
}

nav{
    list-style: none;
    display: inline;
}

.stats{
    display: inline-flex; 
    text-align: center;
}

.media{
    img{
        max-width: 70%;
        margin: auto; 
    }
}

.volunteers, .delivered, .agencies{
    padding-left: 40px;
    padding-right: 40px; 
}


.does{
    display: inline-flex; 
    align-items: center; 
    text-align: center;
    padding-bottom: 50px; 
    img{ max-width: 50%;
        
    }
}

.light-pink-button{
    background-color: rgb(255, 241, 247);
    color: rgb(255, 117, 177); 
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 350px;

}

.hot-pink-button{
    background-color: rgb(255, 117, 177);
    color: rgb(255, 241, 247);
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 350px;

}

.white-button{
    background-color: white;
    color: rgb(255, 117, 177);
    text-align: center;
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 70px;

}

.action{
    display: inline-flex;
    text-align: center;
}

.donate, .volunteer, .parter{
    padding-left: 40px;
    padding-right: 40px;
}

footer{
    background-color: rgb(22, 133, 132);
    color: white; 
    padding-top: 30px; 
    margin-top: 30px;
    img{
        max-width: 40%;
        margin: auto;
    }
}

.contact{
    text-decoration: underline;
    border-style: solid;
    border-color: white; 
    border-left: none;
    border-right: none; 
    padding-top: 40px;
    padding-bottom: 40px; 
}