body{
    font-family: sans-serif;
    margin: 0; 
}


    h1{
        text-align: center;
        color: rgb(22, 133, 132);
    }

    .intro{
        p{
            margin-left: 300px;
            margin-right: 300px;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 50px; 
        }
    padding-top: 50px;
    }


.portal{
    background-color: rgb(251, 230, 180);
    border-top-style: none;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;

}

.main-intro{
    img{
        max-width: 30%;
    }
width: 1200px;
display: inline-flex; 
align-items: center;
border-bottom-style: solid;
border-bottom-color: black;
justify-content: space-between; 

nav{
    ul{
    list-style: none;
    display: inline-flex;
    }
}
}

.donate-top{
background-color: rgb(255, 241, 247);
    color: rgb(255, 117, 177); 
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 400px;
    max-height: 20px;
}

.two-buttons{
    display: inline-flex; 
    justify-content: center;  
}

.donate-hot-pink{
    background-color: rgb(255, 117, 177);
    color: rgb(255, 241, 247);
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 80px;
    padding-right: 80px;
    max-width: 310px;
    margin: auto;
    text-align: center;
    margin-right: 5px;
}

.learn-light-pink{
    background-color: rgb(255, 241, 247);
    color: rgb(255, 117, 177); 
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 320px;
    margin-left: 5px;
}

.stats{
    display: inline-flex; 
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black; 
    margin: 0; 
}

.media{
    img{
        display: block; 
        margin: auto; 
        max-width: 80%; 
    }
}

.volunteers, .delivered, .agencies{
    padding-left: 40px;
    padding-right: 40px; 
}

.squad{ 
    border-top-style: solid;
    border-top-color: black;
    margin-top: 40px; 
    padding-top: 50px; 

.does{
    display: inline-flex; 
    align-items: center; 
    text-align: center;
    padding-bottom: 50px; 
    
    img{ max-width: 60%;
        }  
    }
}

.light-pink-button{
    background-color: rgb(255, 241, 247);
    color: rgb(255, 117, 177); 
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 320px;

}

.hot-pink-button{
    background-color: rgb(255, 117, 177);
    color: rgb(255, 241, 247);
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 310px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px; 

}

.white{
    display: inline-flex; 
}

.white-button{
    display: inline-flex;
    justify-content: center;
    background-color: white;
    color: rgb(255, 117, 177);
    text-align: center;
    border-style: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 50px;
    padding-right: 50px;
    max-width: 70px;
}


.action{
    display: inline-flex;
    text-align: center;
    margin-left: 140px;

    p{
        max-width: 240px;
        align-items: flex-start;
        padding-bottom: 75px;
        line-height: 30px;
        font-weight: lighter;    
    }
}

.donate, .volunteer, .partner{
    padding-left: 40px;
    padding-right: 40px;
    
}

footer{
    background-color: rgb(22, 133, 132);
    color: white; 
    padding-top: 30px; 
    margin-top: 30px;
    margin-bottom: 0; 
    img{
        max-width: 20%; 
        margin-left: 500px;
    }
}

.contact{
    text-decoration: underline;
    border-style: solid;
    border-color: white; 
    border-left: none;
    border-right: none; 
    padding-top: 40px;
    padding-bottom: 40px; 
}

.legal{
    display: inline-flex; 
    justify-content: space-between;
}